
body {
    margin: 0%;
}

/*Nav*/
nav h1 span {
    margin: 2%;
    color: yellow;
}
nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0%;
    font-family: "Roboto", Verdana, sans-serif;
    color: white;
    background-color: #181b25;
    
}

nav div {
    margin:auto;
}

nav div a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.current-page {
    background-color: #394759;
    border-radius: 10%;
}


#product-tree { /*2nd nav in product*/
    display: inline-block;
    width: 100%;
    color: grey;
    background-color: #f3f4f7;
    margin: 0%;
    padding: 1% 0% 1% 5%;
    border-bottom: solid grey 1px;
}

/* Home hero section for index and about*/
.hero {
    font-size: 2rem;
    color: white;
    margin: 0%;
    background-image: url("../images/hero_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #292d3d;
}

.hero h1 {
    margin: 0%;
    padding: 10% 30% 0% 20%;
}

.hero p {
    font-family: "Roboto", Verdana, sans-serif;
    margin: 0%;
    padding: 3% 30% 5% 20%;
}

button {
    font-weight: bold;
    margin: 0% 10% 3% 20%;
    padding: 1% 2% 1% 2%;
    border-radius: 5%;
    border: solid black 1px;
    background-color: #c9a53f;
}

/*Featured Products section for index*/
#featured-bg, #featured-bg h2 {
    padding: 1% 0% 1% 1%;
    background-color: #f3f4f7;
}
.featured {
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.featured article {
    display: grid;
    grid-template-columns: 1f;
    flex: 1;
    min-height: 375px;
    min-width: 200px;
    margin: 1%;
    border: solid;
    border-width: 5px 1px 1px 1px;
    border-color: #396257 grey grey grey;
    border-radius: 1%;
}
.featured article img {
    margin: 10% auto 10% auto;
}

.figcaption {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;  
    padding: 0% 10% 0% 10%;
}

.figcaption h3, .figcaption p  {
    margin: 5% 0% 0% 0%;
}

.figcaption p {
    color: grey;
}

.figcaption a {
    font-family: "Roboto", Verdana, sans-serif;
    color: black;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    margin: 5% 0% 5% 0%;
    padding: 5%;
}

.featured article:hover{
    border-color: #cca740 black black black;
}

.featured article a:hover {
    color: white;
    background-color: #181b25;
}

/*Column section for index*/
.column {
    margin: 2% 50% 2% 2%;
}

.column p {
    font-family: "Roboto", Verdana, sans-serif;
    color: grey;
}

/*Story section for about*/ 
.story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 3% 0% 3% 0%;
    background-color: #f3f4f7;
}

.story p {
    font-family: "Roboto", Verdana, sans-serif;
    color: grey;
    margin-right: 20%;
}

/*Values section in about*/
#values-header {
    grid-area: header;
}
/*Grid area from: https://www.w3schools.com/cssref/tryit.php?filename=trycss_grid-area_named1*/
.values {
    display: grid;
    grid-template-areas: 'header header header';
    place-items: center;
    gap: 2%;
    padding: 0% 10% 0% 10%;
}

.values article {
    background-color: #f3f4f7;
    border-radius: 2%;
    margin: 2% 5% 2% 5%;
}

.values article h5 {
    margin: 4%;
    padding: 2%
}

.values article p {
    color: grey;
    margin: 4%;
    padding: 2%
}

#quality {
    font-family: "Roboto", Verdana, sans-serif;
    display: inline-block;
    color: yellow;
    background-color: #181b25;
    border-radius: 10%;
    margin: 4%;
    padding: 2% 4% 2% 4%;
  
}
#swag {
    font-family: "Roboto", Verdana, sans-serif;
    display: inline-block;
    color: green;
    background-color: #181b25;
    border-radius: 10%;
    margin: 4%;
    padding: 2% 4% 2% 4%;
  
}
#innovation {
    font-family: "Roboto", Verdana, sans-serif;
    display: inline-block;
    color: white;
    background-color: #181b25;
    border-radius: 10%;
    margin: 4%;
    padding: 2% 5% 2% 5%;
  
}

/*Team section in about*/
#team-header {
    grid-area: header;
    padding: 0% 50% 0% 4%;
}

#team-header p, .figcaption p{
    font-family: "Roboto", Verdana, sans-serif;
    color: grey;
}

.team {
    display: grid;
    grid-template-areas: 'header header header';
    place-items: central;
    gap: 2%;
    background-color: #f3f4f7;
    margin-top: 5%;
}

.team article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 4%;
    padding-bottom: 5%;

}

.team img {
    max-height: 200px;
        margin: 10% auto 10% auto;

}

p.job-title {
    color: #c9a53f;
}

.team div.figcaption {
    background-color: #f3f4f7;
}

/*journey section in about*/
.journey {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 40%;
    margin-bottom: 5%;
}

.journey h3 {
    padding-left: 10%;
}

p.season {
    color: green;
}

.journey div {
    font-family: "Roboto", Verdana, sans-serif;
    border-left: solid grey 1px;
    padding-left: 1%;
}

/*Get in touch section in about*/
.get-in-touch {
    background-color: #f3f4f7;
}

.get-in-touch h3 {
     padding: 2% 40% 2% 10%;
}
.contact-container {
    display: flex;
    justify-content: space-around;
}

.contact-container article {
    background-color: white;
    padding: 1% 5% 1% 5%;
    border: solid black 1px;
    margin-bottom: 5%;
}

.contact-container article p {
    color: grey;
}

/*Product hero section*/
.product-hero {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 5%;
}

main div {
    display: flex;
    justify-content: space-between;
    gap: 1%
}

main div img {
    min-width: 125px;
}

aside {
    font-family: "Roboto", Verdana, sans-serif;
}
p#rating {
    color: darkgoldenrod;
}

.form-size {
    display: flex;
    justify-content: flex-start;
    gap: 1px;
    
}

.form-size div {
    border: solid grey 1px;
    padding: 1%;
    margin: 1%;
}

#form-color-container {
    margin: 2%
}
/*Customizable radio button recipe taken from: https://medium.com/web-dev-freelancing/how-to-change-the-default-styling-of-a-radio-button-ac04b3606c71*/
.form-color {
    position: relative;
}

.form-color::before {
    content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
#color-grey::before {
    background-color: grey;
}

#color-black::before {
    background-color: black;
}

#color-orange::before {
    background-color: orangered;
}

#color-blue::before {
    background-color: blue;
}

.form-color::after {
    content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
}

.form-color:checked::after {
  background-color: #333;
}
/*End of radio button reciple*/
#form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#form-buttons button {
    margin: 0%;
}

/*Product tabs section*/
#product-tabs{
    font-family: "Roboto", Verdana, sans-serif;
    border-top: solid grey 1px;
    border-bottom: solid grey 1px;
    padding: 1% 0% 1% 0%;
    margin: 0% 5% 0% 5%;
}

#product-tabs span {
    margin: 5%;
}

span#description-tab {
    border-bottom: solid goldenrod 2px;
    padding-bottom: 1%;
}

/*Product details section in product*/
.product-details {
    font-family: "Roboto", Verdana, sans-serif;
    margin: 0% 5% 0% 5%;
}

/*Key Features Table*/
table tr {
    display: flex;
    align-items: center;
    gap: 30%;
    border-bottom: solid grey 1px;

}

table tr th {
   margin-left: auto;
 
}

/*Review section in product*/
.reviews {
    font-family: "Roboto", Verdana, sans-serif;
    margin: 0% 5% 0% 5%;
}

.review span a {
    color: goldenrod;
}

.date {
    margin-left: 65%;
    margin-right: auto;
}
/*Footer section*/
.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #181b25;
}

.footer-links section {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5%;
    padding-bottom: 5%;
}

footer div h5 {
    color: white;
}

.footer-links section a{
    color: #aaadbd;
    text-decoration: none;
    margin: 1%;
}

.copyright {
    color: #aaadbd;
    border-top: solid #aaadbd 1px;
    border-left: solid #181b25 2rem;
    border-right: solid #181b25 2rem;
    background-color: #181b25;
    padding: 2%;
}


