
body {
    margin: 0%;
}

/*Nav*/
nav h1 span {
    margin: 2%;
    color: orangered;
}
nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0%;
    font-family: "Roboto", Verdana, sans-serif;
    color: white;
    background-color: #181b25;
    
}

nav div {
    margin:auto;
}

nav div a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav div a:hover, nav div a:visited {
    background-color: #394759;
    border-radius: 10%;
}

/* Home hero section for index and about*/
.hero {
    font-size: 2rem;
    color: white;
    margin: 0%;
    background-image: url("../images/hero_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #292d3d;
}

.hero h1 {
    margin: 0%;
    padding: 10% 30% 0% 20%;
}

.hero p {
    margin: 0%;
    padding: 3% 30% 5% 20%;
}

button {
    font-weight: bold;
    margin: 0% 10% 3% 20%;
    padding: 10px 20px 10px 20px;
    border-radius: 5%;
    border: solid black 1px;
    background-color: #c9a53f;
}

/*Featured Products section*/
#featured-bg, #featured-bg h2 {
    padding: 1% 0% 1% 1%;
    background-color: #f3f4f7;
}
.featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center; 
}

.featured article {
    min-height: 375px;
    display: grid;
    grid-template-columns: 1fr;
    border: solid;
    border-width: 5px 1px 1px 1px;
    border-color: #396257 grey grey grey;
    border-radius: 1%;
    margin: auto;
    padding: auto;
}



.figcaption {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    margin: 0%;
    padding: 3% 10% 3% 10%;
}

.figcaption a {
    font-family: "Roboto", Verdana, sans-serif;
    color: black;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius: 5%;
    text-decoration: none;
    text-align: center;
    
}

.featured article:hover{
    border-color: #cca740 black black black;
}

.featured article a:hover {
    color: white;
    background-color: #181b25;
}